/* ========== Base ========== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-family: serif;
  color: #fff;
}

p + p {
  margin-top: 16px;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.5;
}


/* ========== Header ========== */
header {
  display: flex;
  padding: 0 16px;
  background: #000;
}

header h1 {
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
  font-family: serif;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  z-index: 1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) { transition-delay: .1s; }
.overlay.show li:nth-child(2) { transition-delay: .2s; }
.overlay.show li:nth-child(3) { transition-delay: .3s; }

.pc-menu {
  display: none;
  color: #f2f2f2;
  font-family: serif;
}


/* ========== Hero (Header画像)========== */
.hero {
  position: relative;
  height: 300px;
  overflow: hidden;
}

/* 背景画像用のdiv */
.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
}

.hero-bg.current {
  opacity: 1;
}


/* ========== Main Section ========== */
main {
  background: #000;
}

main h1 {
  text-align: center;
}

.koko h1 {
  font-size: 50px;
  padding-top: 75px;
  padding-bottom: 30px;
}

.icon {
  margin: 1px 0 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
}

main li i {
  font-size: 50px;
}

main ul {
  display: flex;
}

main li + li {
  margin-left: 40px;
}

img {
  vertical-align: bottom;
}

.hero2 {
  position: relative;
  height: 600px;
}

.hero2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  /* opacity: 0;
  transition: opacity 1s; */
}

.hero2 .tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: serif;
  color: #000;
  background: #fff;
  opacity: 0.8;
}


/* ========== Features ========== */
.features {
  font-family: serif;
  padding: 64px 0;
  background: #00111d;
  overflow: hidden;
}

.features h1 {
  font-size: 54px;
  text-align: center;
  padding-bottom: 64px;
  color: #fff;
}

.features .pic {
  padding: 32px;
}

.features img {
  width: 100%;
}

.features h2 {
  font-size: 35px;
  padding-bottom: 16px;
  color: #f2f2f2;
}

.features section + section {
  margin-top: 40px;
}

.features p {
  font-size: 17px;
  color: #fff;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s, transform 0.3s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}


/* ========== Footer ========== */
footer {
  background: #000;
  padding: 16px 0;
  color: #fff;
  border-top: 1px solid #000;
}

footer .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

footer .small {
  font-size: 16px;
}

footer li i {
  font-size: 44px;
}

footer ul {
  display: flex;
  margin-right: 30px;
}

footer li + li {
  margin-left: 34px;
}


/* ========== Media Queries ========== */
/* ========== 700px以上 ========== */
@media (min-width: 700px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .pc-menu ul {
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 120px;
    line-height: 64px;
    text-align: center;
  }

  .sp-menu {
    display: none;
  }

  .hero {
    height: 600px;
  }

  .features p {
    font-size: 19px;
  }
}
/* ========== 1150px以上 ========== */
@media (min-width: 1150px) {
  .hero {
    height: 900px;
  }

  .features h1 {
    font-size: 59px;
  }

  .features h2 {
    font-size: 40px;
  }

  .features p {
    font-size: 24px;
  }

  footer li i {
    font-size: 55px;
  }

  footer ul {
    margin-right: 70px;
  }
}
